<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Open Interest'"></head>

<body>
    <div th:replace="layout :: navbar">(navbar)</div>


    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">
                <span th:text="${openinterest}"></span> ETH
            </h1>
        </div>
    </div>

    <div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>